header {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

header > h1 > a, header > h1 > a:visited {
    text-decoration: none;
    font-style: italic;
    color: blue;
}

body {
    font-family: "Georgia", serif;
    line-height: 1.5;
}

p {
    max-width: 50em;
}